{% extends 'getStartedBase.html' %}

{% block messages %}
<dt>
    <div class="chatbot-icon">🤖</div>
    <div class="chat-bubble"><p>Ask me anything</p></div>
</dt>
{% for el in messages%}
    {% if loop.index is even%}
        <dd>
            <div class="human-bubble"><p>{{ el.text }}</p></div>
        </dd>
    {% else %}
        <dt>
            <div class="chatbot-icon">🤖</div>
            <div class="chat-bubble"><p>{{ el.text }}</p></div>
        </dt>
    {% endif%}
{% endfor%}

{% endblock %}