
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .container {
            width: 100%;
        }

        .about-us-wrapper {
          width: 100vw;
          height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: aquamarine;
            clip-path: polygon(0% 0%, 100% 0, 100% 100%, 70% 74%, 0 100%);
            background: rgb(97,67,196);
            background: linear-gradient(142deg, rgba(97,67,196,1) 0%, rgba(200,179,238,1) 100%);
            color: white;
        }

        h1 {
            width: 200%;
            text-align: center;
        }

        .content-wrapper {
            width: 50%;
            padding: 6rem 4rem;
            margin-left: 5em;
            color: white;
            background: rgb(97,67,196);
            background: linear-gradient(142deg, rgba(97,67,196,1) 0%, rgba(200,179,238,1) 100%);
            line-height: 40px;
            font-size: 1.225rem;
        }

        .flex-wrapper {
            display: flex;
            margin: 60px 0;
        }

        .mental-health-text {
            width: 356px;
            top: 0;
        }

        .mental-health {
            position: relative;
        }

        .survey {
            bottom: 0;
            width: 400px;
        }

        body {
            overflow-x: hidden;
        }

    

