body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  margin: 0;
  position: relative;
}

.btn {
  font-size: 1.5rem;
  color: purple;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-family: 'Aboreto', sans-serif;
  width: 10%;
  top: 40px;
  padding: 12px 20px;
  background: #3b2f62;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.btn:hover {
  border-bottom: 2px solid black;
}

/* Main Container */
.container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin-top: 70px; /* Adjusted for equal spacing */
}

.photo {
  width: 500px;
  height: 100%;
}

/* Chat Container */
.chat-container {
  background: linear-gradient(to bottom right, #6143c4, #7860c8, #c8b3ee);
  width: 1000px;
  height: 500px;
  padding: 23px;
  border-radius: 0 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.chat-bubble {
  background: #b3d4fc;
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
  width: 80%;
  margin-bottom: 10px;
  align-self: flex-start;
}

.user-input {
  display: flex;
  margin-top: 10px;
}

.user-input input {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.chatbot-icon {
  width: 40px;
  height: 40px;
  background: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 10px;
}

.message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

dl {
    width: 1000px;
    margin: auto;
}

dt {
    display: flex;
}

.human-bubble {
    background: #8db3e0;
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
  width: 80%;
  margin-bottom: 10px;
  margin-left: 13%;
  text-align: right;
}