* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f7f7f7;
  overflow-x: hidden;
  position: relative; /* This allows us to position the button at the bottom right */
}

.about-us-wrapper {
  position: relative;
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 70% 74%, 0 100%);
  background: linear-gradient(142deg, rgba(97,67,196,1) 0%, rgba(200,179,238,1) 100%);
  color: white;
}

.about-us-wrapper h1 {
  font-family: 'Antic Slab', serif;
  font-size: 40px;
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 80px auto;
}

.illustration {
  flex: 1;
  text-align: left;
}

.illustration img {
  max-width: 100%;
  height: auto;
}

.text-section {
  flex: 1;
  text-align: center;
}

.quote-container {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: bold;
  color: #4e0dab;
  border-radius: 15px;
  padding: 40px;
  max-width: 550px;
  margin-top: 70px;
  bottom: 40px;
  line-height: 1.5;
  transition: transform 0.3s ease-in-out;
  transform: rotate(-10deg); /* Rotation added */
}

.quote-container:hover {
  transform: rotate(10deg); /* Slight rotation change on hover */
}

/* Styling for the button */
.cta {
  background: #6a11cb;
  color: white;
  border: none;
  padding: 18px 35px;
  font-size: 24px;  /* Increased font size */
  border-radius: 30px;  /* Larger border radius */
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: 30px;  /* Distance from the bottom */
  right: 30px;   /* Distance from the right */
  text-decoration: none; /* Removes the underline */
}

.cta:hover {
  background: #4e0dab;
}

@media (max-width: 768px) {
  .content {
      flex-direction: column;
      text-align: center;
  }

  .quote-container {
      font-size: 24px;
      padding: 30px;
      margin-bottom: 15px;
      transform: rotate(0deg); /* Remove rotation on smaller screens */
  }

  .cta {
      margin-top: 10px;
      font-size: 20px; /* Adjust font size for smaller screens */
      padding: 15px 30px;
      bottom: 20px;  /* Adjust position for smaller screens */
      right: 20px;   /* Adjust position for smaller screens */
  }
}